{% extends 'base.html' %}

{% block content %}
<div class="profile-card">
    <div class="info-box">
        <h1 class="my-name">마이페이지</h1>

        <div style="text-align: center; margin-bottom: 20px;">
            {% if profile.profile_image %}
            <div class="profile-img-container">
                <img src="{{ profile.profile_image.url }}" alt="프로필 사진" class="profile-img-show">
            </div>
            {% else %}
            <div class="profile-img-container profile-img-none">
                <span>사진 없음</span>
            </div>
            {% endif %}
            <div>
                <div>
                    <span>팔로워</span>
                    <strong>{{ profile.followers.count }}</strong>
                    <span>팔로잉</span>
                    <strong>{{ profile.followings.count }}</strong>
                </div>
            </div>

            <br>
            {% if request.user != profile_user %}
            <div class="follow-button">
                {% if request.user.profile in profile.followers.all %}
                <a href="{% url 'users:follow' profile_user.id %}">
                    <button type="button">언팔로우</button>
                </a>
                {% else %}
                <a href="{% url 'users:follow' profile_user.id %}">
                    <button type="button">팔로우</button>
                </a>
                {% endif %}
            </div>
            {% endif %}

        </div>

        <div style="font-size: 18px; line-height: 2;">
            <p><strong>아이디:</strong> {{ profile_user.username }}</p>
            <p><strong>닉네임:</strong> {{ profile.nickname }}</p>
            <p><strong>전공:</strong> {{ profile.major|default:"미입력" }}</p>
            <p><strong>인스타 아이디:</strong> {{ profile.insta|default:"미입력" }}</p>
        </div>

        <hr style="margin: 20px 0; border: 0; border-top: 1px solid #eeeeee;">

    </div>
</div>
{% endblock %}