{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-card">
    <h1 class="my-name">구교현의 2주차 Django 학습 기록 🦁</h1>

    <div class="info-box">
        <img src="{% static 'images/flower.png' %}" alt="벚꽃" width="100%">
    </div>
    {% for section in sections %}
    <div class="info-box">
        <div class="info-title">{{ section.title }}</div>
        <ul>
            {% for item in section.items %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</div>
{% endblock %}